<div class="row">
  <%= simple_nested_form_for @article do |f| %>
    <%= render 'shared/error_message', object: f.object %>
    <%= f.input :title %>
    <%= f.input :content %>

    <%= f.fields_for :photos do |p| %>
     <div class="panel">
        <p><%= p.input :name %></p>        
        <p><%= image_tag p.object.image_url(:thumb) %>
        <%= p.link_to_remove "Remove photo" %></p>         
        <p><%= p.file_field :image %> </p>
      </div>  
    <% end %>

    <p><%= f.link_to_add "Add a photo", :photos %></p>

    <%= f.submit "Save", :class => "button" %>
  <% end %>
</div>