<div class="row">
  <%= simple_nested_form_for @article do |f| %>
    <fieldset>
      <%= render 'shared/error_message', object: f.object %>
      <%= f.input :title %>
      <%= f.input :annotation, placeholder: 'Max 160 characters including spaces', :input_html => { class: 'zurb-form-text-area-small'} %>
      <%= f.input :content, :input_html => { class: 'zurb-form-text-area'} %>
      <hr />
      <%= f.fields_for :photos do |p| %>
       <div class="panel">
          <p>Photo</p>
          <p><%= image_tag p.object.image_url(:thumb) %></p>
          <p><%= p.file_field :image %> </p>
        </div>  
      <% end %>

      <%= f.submit "Save", :class => "button" %>
    </fieldset>
  <% end %>  
</div>