<% provide :title, @article.title %>

<section id="show-article">

  <h3><%= I18n.t(:our_news) %></h3>
  
  <section id="show-article-inner">
    <section id="show-article-title"><%= @article.title %></section>
    <% @article.photos.each do |photo| %>
      <section id="show-article-photo">
      	<!-- <%= image_tag photo.image_url(:news_inner_thumb).to_s %> -->
      	<%= image_tag "dummy_250x250.png" %>
      </section>
    <% end %>
    <section id="show-article-content"><%= @article.content %></section> 
  </section>
  <div id="cleaner">
</section>