<% provide :title, "Categories" %>

<h1><%= link_to "Add new category", new_category_path %></h1>
  
<% if @categories.empty? %>
  <h6>No categories added yet<h6>
<% else %>
  <table> 
    <thead>
      <tr>
        <th width="200">Category name</th>
        <th>Image</th>
        <th>Document</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td>
          <% category.photos.each do |p| %>
            <%= image_tag p.image_url(:thumb).to_s %>
          <% end %>
        </td>
        <td>
          <% category.documents.each do |d| %>
            <%= link_to d.name, d.doc_url %>
          <% end %>
        </td>
        <td><%= link_to "edit", edit_category_path(category) %></td>
        <td><%= link_to "delete", category_path(category), 
                        method: :delete, data: { confirm: 'Are you sure?' } %></td>      
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>