<% provide :title, "Downloads" %>

<section id="download-container">
  <h3><%= I18n.t(:footer_download) %></h3>

  <table>
    <thead>
      <tr>
        <th width="600"><%= I18n.t(:download_name) %></th>
        <th width="200"><%= I18n.t(:download_version) %></th>
        <th width="200"><%= I18n.t(:download_link) %></th>
      </tr>
    </thead>
    <tbody>
      <% @documents.each do |doc| %>
      <tr>
        <td><%= doc.name %></td>
        <td><%= doc.name %></td>
        <td><%= link_to "download", doc.doc_url, class: "link-underline" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>