<div class="row">
  <%= simple_nested_form_for @category do |f| %>

    <%= render "/shared/add_translations" %>

    <fieldset>
      <%= render 'shared/error_message', object: f.object %>
      <%= f.input :name %>
      <%= f.input :annotation, placeholder: 'Max 250 characters including spaces', :input_html => { class: 'zurb-form-text-area-small'}  %>
      <%= f.input :description, :input_html => { class: 'zurb-form-text-area'}  %>
      <hr />
      <%= f.fields_for :photos do |p| %>
        <div class="panel">
          <p>Photo (keep proportions: 325x210)</p>
          <p><%= image_tag p.object.image_url(:thumb) %></p>
          <p><%= p.file_field :image %> </p>
          <p><%= p.check_box :remove_image %></p>
        </div>
      <% end %>

      <%= f.fields_for :documents do |d| %>
        <div class="panel">
          <p><%= d.input :name %></p>
          <p><%= d.file_field :doc %> </p>
          <p><%= d.link_to_remove "Remove document" %></p>
        </div>
      <% end %>

      <p><%= f.link_to_add "Add a doc", :documents %></p>

      <%= f.submit "Save", :class => "button" %>
    </fieldset>  
   <% end %> 
</div>