<% provide :title, @category.name %>

<section id="show-category-container">

  <h3><%= link_to I18n.t(:what_we_offer), categories_path %> <%= @category.name.upcase %></h3>
  <section id="show-category-inner">
      <% @category.products.each do |product| %>
      <div class="show-category-item">
        <% product.photos.each do |photo| %>
          <% if photo.main? %>
            <div class="show-category-item-photo">
              <%= image_tag photo.image_url(:prod_main_thumb).to_s %>
            </div>
          <% end %>  
        <% end %>
        <div class="show-category-item-container">
          <div class="show-category-item-title">
            <%= link_to product.name.upcase, product_path(product) %>
          </div>
          <div class="show-category-item-desc">
            <%= product.annotation %>
          </div>
        </div>
        <div id="cleaner"></div>        
      </div>      
      <% end %>  
  </section>
</section>