<div class="row">
  <%= simple_nested_form_for @product do |f| %>
    <%= render 'shared/error_message', object: f.object %>
    <p><%= f.association :category, collection: Category.all, :include_blank => false %></p>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :features, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full'} } %>

    <%= f.fields_for :photos do |p| %>
     <div class="panel">
        <p><%= p.input :name %></p>        
        <p><%= image_tag p.object.image_url(:thumb) %>
        <%= p.link_to_remove "Remove photo" %></p>         
        <p><%= p.file_field :image %> </p>
        <p><%= p.input :main, :as => :boolean %> </p>
      </div>  
    <% end %>

    <p><%= f.link_to_add "Add a photo", :photos %></p>    
         
    <%= f.fields_for :documents do |d| %>
      <div class="panel">
        <p><%= d.input :name %></p>
        <p><%= d.link_to_remove "Remove document" %></p>
        <p><%= d.file_field :doc %> </p>
      </div>
    <% end %>

    <p><%= f.link_to_add "Add a doc", :documents %></p>
         
    <%= f.button :submit, "Save" %>
  <% end %>    
</div>