<div class="row">
  <%= simple_form_for @product do |f| %>
    <p><%= f.association :category, collection: Category.all, :include_blank => false %></p>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :features %>     
    <%= f.button :submit, "Save" %>
  <% end %>    
</div>