<% provide :title, @product.name %>

<section id="show-product-container">
  <h3><%= link_to "WHAT WE OFFER:", categories_path %> <%= link_to @product.category.name.upcase, @product.category %> : <%= @product.name.upcase %></h3>

  <section id="show-product-inner">
    <section id="show-product-inner-gallery">
      <% @product.photos.each do |photo| %>
        <% if photo.main? %>
          <section id="show-product-main-photo">
            <%= link_to image_tag(photo.image_url(:prod_show_thumb)), photo.image_url, class: "gallery" %>
          </section>
        <% end %>
      <% end %>  
        <section id="show-product-thumb-photos">
          <% @product.photos.each do |photo| %>
            <div class="show-product-small-thumb">
              <%= link_to image_tag(photo.image_url(:small_thumb)), photo.image_url, class: "gallery" %>
            </div>
          <% end %>
        </section>
      
    </section>
    <section id="show-product-inner-details">
      <div id="show-product-title"><%= @product.name.upcase %></div>
      <div id="show-product-desc"><%= @product.description %></div>
      <p>KEY FEATURES</p>
      <div id="show-product-features"><%= raw(@product.features) %></div>
      <div id="show-product-download">
        <% @product.documents.each do |doc| %>
          <%= link_to "doc.name", doc.doc_url %>
        <% end %>
      </div>
    </section>
    <section id="cleaner"></section>
  </section>
</section>