<footer id="footer">
  <section id="footer-contact">
    <p class="footer-title">CONTACT<p>
      <ul>
        <li>+420 111 222 333</li>
        <li>+420 111 222 333</li>
        <li><%= mail_to "info@suck.com" %></li>
      </ul>
  </section>
  <section id="footer-sitemap">
    <p class="footer-title">SITEMAP</p>
      <ul>
        <li><%= link_to "ABOUT US", root_url %></li>
        <li><%= link_to "NEWS",     root_url %></li>
        <li><%= link_to "PRODUCTS", root_url %></li>
        <li><%= link_to "DOWNLOAD", root_url %></li>
        <li><%= link_to "CONTACTS", root_url %></li>
      </ul>
  </section>
  <section id="footer-inforamtion">
    <p class="footer-title">INFORMATION</p>
      <p><%= image_tag "logo.png" %></p>
  </section>
  <div id="cleaner"></div>
</footer>