<section id="navigation">
  <div id='cssmenu'>
    <ul>
       <%= nav_link "About us", about_path %>
       <%= nav_link "News", articles_path %>
       <li id="production"><%= nested_nav_link "Production", categories_path %>
        <ul>
          <% @categories.each do |category| %>
            <li><%= link_to category.name, category_path(category) %></li>
          <% end %>
        </ul>
       </li>
      <%= nav_link "Download", download_path %>
      <%= nav_link "Contact", contact_path %>
    </ul>
  </div>
</section>