<p class="news-main-slogan"><%= I18n.t(:our_news) %></p>

<section id="main-inner-news-container">
  <% @articles.each do |article| %>
    <section class="main-news-item">
      <% article.photos.each do |photo| %>
      <div class="main-news-item-photo">
        <% if photo %>
          <%= image_tag photo.image_url(:thumb).to_s %>
        <% else %>
          <%= image_tag "dummy_110x110.png" %>
        <% end %>
      </div>
      <% end %>
      <div class="main-news-item-desc">
        <p class="news-item-date"><%= article.created_at.strftime("%d.%m.%y") %></p>
        <p class="news-item-title"><%= link_to article.title, article_path(article) %></p>
        <p class="news-item-desc"><%= article.annotation %></p>
      </div>
    </section>
    <section id="cleaner"></section>
  <% end %>
</section>